@model IEnumerable<BusNow.Core.Entities.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Маршрути</h1>

<p>
    <a asp-action="Create">Създай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeoJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTemporary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTemporary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportLine.DirectionA)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редакция</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
